.home{
    text-align: center;
    padding-top: 5%;
    /* background-color: rgb(243, 243, 239); */
    margin-bottom: 200px;
}

.img1st{
    position: relative;
    left: 30%;
}

.img2nd{
    position: relative;
    right: 30%;
}
.myTitle{
    font-family: 'Sacramento', cursive;
    font-size: 65px;
}

.myLinks{
    margin: 50px;
}

.linkEffect{
    cursor: pointer;
    color:rgb(30, 30, 30);
}

.linkEffect:hover{
    color: rgb(57, 57, 57);
}

